mat-form-field {
  max-width: 85%;
  min-width: 80%;
  align-items: center;
}

section {
  margin: auto;
  text-align: center;
}

button {
  margin: 0.5rem;
}

textarea[name=sectionMain]{
  resize: none;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
