mat-card {
  max-width: 60%;
  min-width: 60%;
  display: inline-block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section {
  max-width: 20%;
  min-width: 20%;
  float: left;
  display: inline-table;

  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  left: 1rem;
}

#emptyMessage {
  display: block;
  color: grey;
  text-align: center;
}

/* MAT CARD FOOTER */

mat-card-footer {
  float: right;
  margin: auto;
}

mat-card-footer button {
  margin: 0.2rem;
}

button#addSect {
  display: block;
  margin: auto;
  margin-top: 1rem;
}
