
<div>
  <section>
    <h1>testing 12</h1>
  </section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Test Card</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>
      Hello, this is a test <br>
    </p>
  </mat-card-content>
</mat-card>
</div>


<div>
  <section>
    <h1>testing 2</h1>
  </section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Test Card</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>
      Hello, this is a test <br>
    </p>
  </mat-card-content>
</mat-card>
</div>
